:root {
  --low-bar: 70px;
  --side-bar: 40px;
  --upper-bar: 100px;
}

/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.clearfix::after {
  /* da applicare al genitore con regola float */
  content: "";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

/* STRUCTURE */

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.app-player {
  height: var(--low-bar);
  background-color: #282828;
}

.app-top {
  height: calc(100vh - var(--low-bar));
  display: flex;
}

.main-side-bar {
  width: var(--side-bar);
  background-color: #000;
  flex-shrink: 0;
  color: grey;

  display: flex;
  flex-direction: column;
}

.main-contents {
  width: calc(100% - var(--side-bar));
  background-color: #141922;
}

.upper-bar {
  height: var(--upper-bar);
  background-color: #0c0f14;
}

.contents {
  height: calc(100% - var(--upper-bar));
  overflow-y: auto;
}

.playlist-title {
  font-size: 0.8rem;
  margin: 20px 0 10px;
}
/* SIDE BAR */

.side-bar-functions {
  flex-grow: 1;
  overflow-y: hidden;

  font-size: 0.9rem;
  font-weight: bold;
}

.side-bar-btn {
  background-color: transparent;
  border: 0;
  width: 100%;
}

.main-side-bar img {
  height: 25px;
}

.side-bar-functions button:first-child {
  margin: 8px auto 12px;
}

.side-bar-functions button {
  margin: 5px auto 5px;
}

.side-bar-functions img {
  margin: 0 auto;
}

.btn-description {
  color: grey;
  vertical-align: middle;

  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playlist button {
  background-color: transparent;
  border: 0;
}

.plus {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: gray;
  font-size: 1.7rem;
}

.playlist-list-item {
  margin: 10px 0;
}

.side-bar-btn .fa-regular {
  color: grey;
}

.side-bar-user {
  text-align: center;
}

.user {
  margin: 10px auto;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

/* MEDIA QUERY */

/* small */
@media screen and (min-width: 576px) {
  :root {
    --side-bar: 200px;
  }

  /* UTILS */
  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline {
    display: inline-block;
  }

  .d-sm-block {
    display: block;
  }

  .main-side-bar {
    padding: 0 1rem;
  }

  .side-bar-functions button:first-child img {
    margin: 1rem 0 1.3rem;
    height: 40px;
  }

  .side-bar-functions img {
    margin: auto 0;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  .side-bar-btn,
  .side-bar-user {
    text-align: left;
  }

  .side-bar-user .side-bar-btn {
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }

  .user {
    margin: 10px 0;
  }
}

/* medium */
@media screen and (min-width: 768px) {
  /* UTILS */
  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-block {
    display: block;
  }
}

/* large */
@media screen and (min-width: 992px) {
  /* UTILS */
  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-block {
    display: block;
  }
}
