:root {
  --low-bar: 70px;
  --side-bar: 40px;
  --upper-bar: 100px;
}

/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.clearfix::after {
  /* da applicare al genitore con regola float */
  content: "";
  display: block;
  clear: both;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

/* STRUCTURE */

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.app-top {
  height: calc(100vh - var(--low-bar));
  display: flex;
}

.main-side-bar {
  width: var(--side-bar);
  flex-shrink: 0;

  background-color: #000;
  color: grey;
  font-size: 0.9rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-contents {
  width: calc(100% - var(--side-bar));
  background-color: #141922;
  color: white;
}

.top-bar {
  height: var(--upper-bar);
  background-color: #0c0f14;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contents {
  height: calc(100% - var(--upper-bar));
  overflow-y: auto;
}

.app-player {
  height: var(--low-bar);
  background-color: #282828;
}

/* SIDE BAR */

.main-side-bar .logo {
  margin: 0.5rem auto;
  height: 25px;
}

.side-bar-btn {
  background-color: transparent;
  border: 0;
  width: 100%;
}

.icon {
  height: 25px;
  fill: grey;
}

#home:hover > *,
#search:hover > *,
#library:hover > * {
  fill: white;
  color: white;
}

.btn-description {
  color: grey;
  vertical-align: middle;

  font-size: 0.9rem;
}

#playlist,
#playlist-list {
  padding: 0 1rem;
}

.playlist-title {
  font-size: 0.8rem;
  margin: 20px 0 10px;
}

#playlist button {
  background-color: transparent;
  border: 0;
}

.plus {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: gray;
  font-size: 1.7rem;
}

#playlist-list {
  min-height: 100px;
  overflow-y: auto;
}

.playlist-list-item {
  font-size: 0.8rem;
  margin: 15px 0;
}

.side-bar-btn .fa-regular {
  color: grey;
}

.side-bar-user {
  text-align: center;
  margin-top: auto;
}

.user-image {
  display: inline-block;
  margin: 10px auto;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
}

.user-name {
  color: white;
}

/* TOP BAR */

.upgrade {
  margin-right: 20px;
}

.btn-upgrade {
  padding: 1rem 2rem;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

/* LOW BAR */

.app-player {
  color: white;
  padding: 0 1rem;

  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.low-bar-btn {
  background-color: transparent;
  border: 0;
}

.played-music .low-bar-btn {
  color: grey;
  font-size: 1rem;
}

.played-music-functions .low-bar-btn {
  color: white;
  font-size: 1rem;
}

.played-music {
  align-items: center;
  gap: 10px;
}

.played-music-image {
  max-width: 30px;
}

.played-music-interactions {
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  align-items: center;
  gap: 1rem;
}

.bar,
.volume-bar {
  height: 4px;
  background-color: grey;
  border-radius: 10px;
}

.bar {
  width: 300px;
}

.volume-bar {
  width: 80px;
}

.progress {
  height: 100%;
  width: 30%;
  background-color: white;
  border-radius: 2px;
  position: relative;
}

.progress::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.played-music-functions {
  align-items: center;
  gap: 0.5rem;
}

.played-music-functions > div {
  flex-shrink: 0;
}

/* MEDIA QUERY */

/* small */
@media screen and (min-width: 576px) {
  :root {
    --side-bar: 200px;
  }

  /* UTILS */
  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-inline {
    display: inline-block;
  }

  .d-sm-block {
    display: block;
  }

  .main-side-bar .logo {
    margin: 1rem 1rem;
    height: 38px;
  }

  .main-side-bar img {
    margin: auto 0;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  #home,
  #search,
  #library {
    padding: 0.3rem 1rem;
  }

  #home:hover,
  #search:hover,
  #library:hover {
    border-left: 2px solid lime;
  }

  .side-bar-btn,
  .side-bar-user {
    text-align: left;
  }

  .side-bar-user .section-download .side-bar-btn {
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }

  #user {
    padding: 0 1rem;
  }

  .section-user {
    padding: 10px 0;
  }

  .user-image {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }
}

/* medium */
@media screen and (min-width: 768px) {
  /* UTILS */
  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-block {
    display: block;
  }
}

/* large */
@media screen and (min-width: 992px) {
  /* UTILS */
  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-block {
    display: block;
  }
}
